services:
  postgres:
    build:
      context: .            # folder with Dockerfile
      dockerfile: Dockerfile
    container_name: allstars-analytics
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      # If you used POSTGRES_CONFIG_INCLUDE above, nothing extra needed.
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $$POSTGRES_DB -U $$POSTGRES_USER"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - /opt/postgres/data:/var/lib/postgresql/data